.idea/
test.py
text/training_checkpoints
text/features
text/image_checkpoints
text/transformer_checkpoints
image/hub_checkpoints
image/dcgan_checkpoints
image/*.png
image/*.gif
basic/tb/
basic/training_embed/
basic/logs/



